<div class="container px-6 px-sm-0">
  <h4 class="col-md-11" style="padding-top:25px">マイページ</h4>

  <div class="container row col-sm-11 " style="padding-top:25px">
    <div class="user row align-items-center">
     <div class="image">
        <% if @user.image? %>
         <%= image_tag @user.image.url, size: "80", class: "user-icon" %>
        <% else %>
         <%= image_tag 'default.png', size: "80", class: "user-icon" %>
        <% end %>
     </div>

     <p class="align-self-center" style="padding-left:25px">ユーザーネーム：　<%= @user.name %></p>
     <div class="introduction" style="padding-left:25px" >
      <p><%= @user.introduction %></p>
     </div>
     <div class="follow" style="padding-left:25px" >
      <% if current_user != @user %>
       <% if @user.followed_by?(current_user) %>
        <%= link_to "フォロー済み", user_relationships_path(@user.id), method: :delete, class: "btn btn-secondary" %>
       <% else %>
        <%= link_to "フォローする", user_relationships_path(@user.id), method: :post, class: "btn btn-primary" %>
       <% end %>
      <% end %>
     </div>

     <div class="follow" style="padding-left:10px">
     <center>
      <%=link_to follows_user_path(@user.id), class: "btn btn-success" do %>
       <%= @user.followings.count %>
       <p>フォロー</p>
      <% end %>
     </center>
     </div>
     <div class="followers" style="padding-left:10px">
     <center>
      <%=link_to followers_user_path(@user.id), class: "btn btn-success" do %>
       <%= @user.followers.count %>
       <p>フォロワー</p>
      <% end %>
     </center>
     </div>
     <% if @user == current_user %>
      <div class="link" style="padding-left:10px; padding-top:10px">
       <%= link_to 'プロフィール編集', edit_user_path(current_user), class:"btn btn-secondary" %>
      </div>
      <div class="link" style="padding-left:10px; padding-top:10px">
       <% if user_signed_in? && @user.id == current_user.id %>
        <%= link_to "退会", unsubscribe_path, class: "btn btn-outline-danger" %>
       <% end %>
      </div>
     <% else %>
      <div></div>
     <% end %>
    </div>
  </div>

  <div class="post row">
   <% @post.each do |post| %>
    <div class="card-deck row-eq-height">
     <div class="col-md-4" style="padding-top:25px">
      <div class="card shadow pt-3 px-3 md-0 h-100" style="width: 22rem">
       <div class="card-img">
        <%= link_to post_path(post.id) do %>
          <%= attachment_image_tag post, :image,  class: 'card-img-top' %>
        <% end %>
       </div>

       <div class="card-body" style="padding:5px;">
       <font size="3">
        <div class="card-address text-truncate"><%= post.contents %></div>
        <small class="card-text"><%= post.address %></small>
        <div class="card-tag">
         <small>
          <% post.tag_list.each do |tag| %>
           <%= tag %>
          <% end %>
         </small>
        </div>
        <div class="row">
         <div class="card-comment col-lg-5">
          <%= link_to "#{post.post_comments.count} コメント", post_path(post.id), class:"btn btn-info" %>
         </div>
         <div class="card-favorites">
          <% if current_user.already_favorited?(post) %>
           <p>
            <%= link_to post_favorites_path(post.id), method: :delete do %>
             <i class="fas fa-heart unlike-btn"></i>
             <%= post.favorited_users.count %>
            <% end %>
           </p>
          <% else %>
           <p>
            <%= link_to post_favorites_path(post.id,), method: :post do %>
              <i class="far fa-heart like-btn" ></i>
              <%= post.favorited_users.count %>
            <% end %>
           </p>
          <% end %>
         </div>
        </div>
       </font>
       </div>


      </div>
     </div>
    </div>
   <% end %>
  </div>

</div>
